@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
/*Page Universal items*/
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        background-color: #1c1c1c;
    }

    li, a, button{
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: 16px;
        color: #d5d8e3;
        text-decoration: none;
    }

    h1{
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: 16px;
        text-align: left;
        color: #cb54db;
        margin-bottom: 4px;
    }

    h2{
        font-family: "Bubblegum Sans", sans-serif;
        font-weight: 400;
        font-style: 16px;
        text-align: left;
        color: #9f53db;
        margin-bottom: 4px;
    }

    p{
        font-family: "Lato", sans-serif;
        color: #d5d8e3;
        margin-left: 50px;
        margin-right: 50px;
        text-align: left;
    }

    .current-page{
        color: #9f53db;
        /*c7962e*/
    }
/*Home Page*/
    .welcome-in{
        text-align: center;
    }

/*Nav Bar*/
    header{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 10%;
        background-color: #2B2929;
        /*#262b40*/
        border: 1px #cccccc;
        float: none;
    }

    .logo{
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    .nav-links li{
        display: inline-block;
        padding: 0px 20px;
        justify-content: flex-start;
    }

    .nav-links li a{
        transition: all 0.3s ease 0s;
    }

    .nav-links li a:hover{
        color: #d385de;
        text-decoration: underline;
    }

    .nav-icon{
        width: 50px;
        height: 50px;
        bottom: 8px;
        left: 9px;
        right: 9px;
        position: fixed;
    }

    .nav-icon:hover{
        background-color: #d385de;
        cursor: pointer;
        display: inline-block;
        
    }


    .cta{
        order: 3;
        margin-left: auto;
    }

    button{
        padding: 9px 25px;
        background-color: #d385de;
        border: #d385de;
        color: whitesmoke;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0;
    }

    button:hover{
        background-color: #bec2d1;
        color: #9f53db;
    }

/*flex box items*/
    .contain{
        margin: 20px auto;
        border: 1px solid #bec2d1;
        width: 100%;
        display: block;
        text-align: center;
    }

    .card{
        margin: 20px 20px;
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
    }

    .card > img{
        height: 100%;
        width: 100%;
    }

    .card > img:hover{
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
            /*"all" = allows all the images to function as so*/
        opacity: 80%;
    }

    /* Project Images */
    .card{
        margin: 20px 20px;
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
    }

    .card > img{
        height: 100%;
        width: 100%;
    }

    .card > img:hover{
        transform: scale(1.3);
        transition: all 0.2s ease-in-out;
            /*"all" = allows all the images to function as so*/
        opacity: 80%;
    }

    .link-it{
        text-decoration: none;
        color: white;
    }

    .link-it:hover{
        color: #d385de;
    }

    .project-b:hover{
        color: #d385de;
    }


/*contact form*/
 
    .hypeLink{
        color: #d385de;
    }

    .hypeLink:hover{
        color: #9f53db;
    }

    .form{
        margin: 100px auto;
        display: block;
        background-color: #1c1c1c;
        border-radius: 10px;
        border: 1px solid #d5d8e3;
        min-height: 400px;
            /*give you the min height*/
        width: 50%;
        position: relative;
    }

    /*focus = indcates to the user the current text box they are in*/
    input[type="text"]:focus, textarea:focus{
        border: 1px solid #ccc;
    }

    input[type="text"], textarea{
        width: 80%;
            /*Takes up 80% of the colored area*/
        margin: 25px auto;
        text-align: left;
        display: block;
        padding: 12px 20px;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: aliceblue;
    }

    /*increases box size of the "Type your message" box if the user has fore to write*/
    textarea{
        resize: vertical;
        min-height: 100px;
        margin-bottom: 0px;
    }

    .submit-form{
        border: #db5355;
        background-color: #db5355;
        padding: 12px 20px;
        border-radius: 8px;
        color: white;
        width: 40%;
        margin: 20px auto;
        cursor: pointer;
    }

    .submit-form:hover{
        opacity: 0.8;
    }

    /*Once button is clicked it will change to this*/
    .submit-form:active{
        background-color: #243f78;
    }

    .center-me{
        text-align: center;
    }

/* Footer */
    .social:hover{
        background-color: #d385de;
        border-radius: 50%;
    }

    .return-top{
        color: #cb54db;
        text-decoration: none;
        align-items: center;
    }

    .return-top:hover{
        color: #9f53db;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

/* banner */
    .jer{
        font-family: Bubblegum Sans, sans-serif;
        font-weight: 400; 
        font-style: 16px;
        text-align: left;
    }